@import "tailwindcss";
@import "material-symbols";

:root {
  --background-light: #f6f7f8;
  --background-dark: #111921;
  --primary: #197fe6;
  --primary-hover: #166dc7;
}

@theme {
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-background-light: var(--background-light);
  --color-background-dark: var(--background-dark);
  
  --font-display: "Inter", sans-serif;
  
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
  
  @keyframes scan {
    from { transform: translateY(0); }
    to { transform: translateY(200%); }
  }
}

@layer base {
  body {
    @apply bg-background-light text-slate-900 font-display;
  }
  
  .dark body {
    @apply bg-background-dark text-slate-100;
  }
}

/* Custom Utilities for the AI Scan Effect */
.animate-scan {
  animation: scan 4s linear infinite;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.font-icon {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

.font-icon-fill {
  font-family: 'Material Symbols Outlined';
  font-variation-settings: 'FILL' 1;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}
